{% extends 'flatpages/default.html' %}

{% block content %}

<h2 class="text-center fw-bold text-danger">Вы вышли из акаунта!</h2>
<br>
<br>
<div class=" btns mx-auto d-flex align-content-center justify-content-between w-25">
    <a href="http://127.0.0.1:8000/" class="btn mx-auto bg-success text-white text-center fw-bold rounded-2">На главную</a>
    <a href="http://127.0.0.1:8000/sign/login" class="btn mx-auto bg-success text-white text-center fw-bold rounded-2">Войти</a>
</div>
{% endblock content %}