{% extends 'flatpages/default.html' %}

{% block content %}
    <h1 class="text-center"> Последние Новости: {{post_list|length}}</h1>
    <h3>{{ time_now }}</h3>
    <h3> {{ value1|default_if_none:"ничего" }} </h3>
    <br>
    <br>
    
    {% for post in post_list %}
        {{post.publ}}
        <br>
        <h2 class="fw-bolder">{{ post.title }}</h2>
        <br>
        <h3 class="fw-bold">Тема: {{ post.categories }}</h3>
        <br>
        <p class="fw-normal">{{ post.text }}</p>
        <h4 class="fw-bold">{{ post.author }}</h4> 
        <br>
    {% endfor %}
    
        
{% endblock content %}