{% extends 'flatpages/default.html' %}


{% block content %}
    <h3 class="text-center fw-bold">Присоединяйся к нашей команде!</h3>
    <br>
    <br>
    <form method="post" action="#" class="d-flex flex-column align-content-center justify-content-center">
        {% csrf_token %}
       <table class="mx-auto"> 
        {{ form.as_table }}
       </table>
       <br>
       <input type="submit" value="Отправить" class="mx-auto bg-success text-white text-center fw-bold rounded-2">
    </form>
{% endblock content %}