{% extends 'flatpages/default.html' %}

{% block content %}
    <h1 class="text-center fw-bolder">Авторизация</h1>
    <br>
    <br>
    <form action="#" method="post" class="d-grid gap-2">
        {% csrf_token %}
        <label for="username" class="text-center fw-bold">Логин:</label>
        <div class="text-center">{{form.username}}</div>
        <label for="password" class="text-center fw-bold">Пароль:</label>
        <div class="text-center">{{ form.password }}</div>
        <input type="submit" value="Войти" class="mx-auto bg-success text-white fw-bold rounded-2">
    </form>
{% endblock content %}