{% extends 'flatpages/default.html' %}

{% block content %}
    <h1 class="text-center fw-bolder">Авторизация</h1>
    <br>
    <br>
    <form action="#" method="post" class="d-grid gap-2">
        {% csrf_token %}
        <label for="username" class="text-center fw-bold">Логин:</label>
        <div class="text-center">{{form.username}}</div>
        <label for="password" class="text-center fw-bold">Пароль:</label>
        <div class="text-center">{{ form.password }}</div>
        <input type="submit" value="Войти" class="mx-auto bg-success text-white fw-bold rounded-2">
        <a href="http://127.0.0.1:8000/sign/signup/"class="mx-auto bg-success text-white p-1 h-300 text-center fw-bold rounded-2">Присоединяйся</a>
        <a href="http://127.0.0.1:8000/accounts/google/login" class="mx-auto"><img src="https://devops.it.si/images/glogin.png" alt="GOOGLE"></a>
    </form>
{% endblock content %}